* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  border: 1px solid red;
  font-size: 1.5rem;
  margin-top: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  padding: 1.5rem;
}
